.why {
    display: flex;
    flex-direction: column;
    background: #50CAF9;
    align-items: center;
    text-align: center;

    &__title {
        padding: 12px 0;
    }
    &__image {
        padding: 24px 0;
    }
}