@import 'src/styles/grid-breakpoints.scss';

.hero {
    margin-bottom: 40px;
    
    &__container {
        display: flex;
        margin-bottom: 40px;
    }

    &__content {
        flex: 1;

        @include grid-media-up($grid-breakpoint-m) {
            flex: 0.6;
            max-width: 60%;
        }
    }

    &__image-container {
        position: relative;
        @include grid-media-up($grid-breakpoint-m) {
            flex: 0.4;
            max-width: 40%;
        }
    }

    &__image {
        width: 100%;
        height: auto;
        z-index: -1;
        object-fit: contain;
        position: absolute;
    }

    &__form {
        padding: 20px 0;
        display: flex;
        flex-direction: column;
        margin: auto;

        @include grid-media-up($grid-breakpoint-m) {
            flex: 0.6;
            max-width: 60%;
        }
    }
}