@import 'src/styles/grid-breakpoints.scss';

.trouble {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px 0;

    @include grid-media-up($grid-breakpoint-m) {
        flex-direction: row;
    }

    &__content {
        flex: 1;
    }

    &__image {
        flex: 1;
        object-fit: contain;
    }
}