/// Small breakpoint
$grid-breakpoint-s: 576px;
/// Small max width
$grid-max-width-s: 540px;
/// Medium breakpoint
$grid-breakpoint-m: 768px;
/// Medium max width
$grid-max-width-m: 720px;
/// Large breakpoint
$grid-breakpoint-l: 992px;
/// Large max width
$grid-max-width-l: 960px;
/// Extra large breakpoint
$grid-breakpoint-xl: 1200px;
/// Extra large max width
$grid-max-width-xl: 1140px;


/// Grid media up
@mixin grid-media-up($min) {
    @media (min-width: $min + 1) {
      @content;
    }
  }
  
  /// Grid media down
  @mixin grid-media-down($max) {
    @media (max-width: $max) {
      @content;
    }
  }
  