@import 'src/styles/grid-breakpoints.scss';

.how-it-works {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 0;

   
    &__description {
        text-align: justify;
        max-width: 400px;
    }
    &__steps {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 0;
        width: 100%;
        
        @include grid-media-up($grid-breakpoint-m) {
            flex-direction: row;
        }
    }
    &__step {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__step-title {
        padding: 12px 0;
    }
    &__step-description {
        text-align: justify;
        max-width: 250px;
    }
    &__step-image {
        margin: 0;
        width: 100%;
        height: auto;
    }
}