.footer {
    &__content {
        display: grid;
        align-items: center;
        justify-content: space-between;
        grid-template-columns: repeat(auto-fit, minmax(200px, 240px));
        padding: 1rem 2rem;
    }
    &__contact {
        color: #5368f1;
    }
    &__link {
        text-decoration: none;
    }
    &__date {
        color: #A0A4A6;
    }
}